#search{
    color: black;
}
#itembtn{
    margin-bottom: 30px;
}
.navbar{
    position:fixed ;
    z-index: 99999;
    width: 100%;
}
.container{
    padding-bottom: 50px;
}
#main{
    padding-bottom: 80px;
}
#scroll{
    padding-bottom: 80px;
}
.custom-img-width {
    width: 100%;
}
.scrollhd{
    color: white;
    position:absolute;
    top: 25%;
    left: 47%;
    font-size: 2.9vw;
}
.scrolldef{
    color:white;
    position:absolute;
    top: 45%;
    left: 47%;
    font-size: 1.5vw;
}
.readmore{
    position: absolute;
    top: 55%;
    left: 47%;
}
.readmorebtn{
    font-size: 1.5vw;
    padding: 6px 10px;
    border-style: solid;
    border-color: #08c485;
    color: black;
    border-width: 1px;
    border-radius: 9px;
    text-decoration: none;
    background-color: #08c485;
}
.readmorebtn:hover{
    background-color: #47d4a5;
}
#search{
        position: absolute; 
        left: 320px; 
        top: 36%; 
        transform: translateY(-50%); 
        color: black;
}
#arrow{
    position: absolute; 
    left: 230px; 
    top: 9%; 
    transform: translateY(-50%); 
    color: black;
}
.sml{
    margin-right: 40px;
    color: white;
}
.sml:hover{
    color: red;
}
#sml1:hover{
    color: rgb(98, 0, 255);
}
#sml2:hover{
    color: rgb(255, 0, 128);
}
#sml3:hover{
    color: rgb(53, 52, 53);
}
.copy{
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}
.a1{
    text-decoration: none;
    color: white;
    white-space: nowrap;
}
.a1:hover{
    color: #08c485;
}

@media screen and (max-width:580px) {
    #icons{
        width: 50%;
        margin-left: 50%;
    }

}